<div class="container">
  <main>
    <article>
      <img src="Post 1.jpg" alt="Article Image">
      <a href="javascript:void(0);">সম্পর্ক ময়ে ময়ে হয়ে গেছে.....</a>
      <div class="label">
        <button type="button">Quota Movement</button>
        <button type="button">Government</button>
        <button type="button">Business</button>
      </div>
      <p>
        '১০ মিনিট স্কুল' এর প্রতিষ্ঠাতা আয়মান সাদিক কোটা সংস্কার আন্দোলনে ছাত্রসমাজের ওপর হ‌ওয়া জুলুমের প্রতিবাদে '১০ মিনিট স্কুল' এর প্রোফাইল পিকচার চেঞ্জ করে কালো ছবি দেওয়ায় ও নিজের কভার ফটো তে কোটা পদ্ধতির বিপক্ষে লেখায় টেলিযোগাযোগ মন্ত্রণালয় এর সাথে '১০ মিনিট স্কুল' এর সাথে হ‌ওয়া ৫ কোটি টাকার চুক্তি বাতিল করেছে মন্ত্রী।
      </p>
      <div class="pubdate">
        July 15, 2024
      </p>
    </article>
    <article>
      <a>ছাত্রীদের হল ছাড়ার নির্দেশনা বাতিল করলো জগন্নাথ বিশ্ববিদ্যালয়</a>
      <div class="label">
        <button type="button">University</button>
        <button type="button">BSL</button>
        <button type="button">Quota Movement</button>
      </div>
      <p>
        জগন্নাথ বিশ্ববিদ্যালয়ের বঙ্গমাতা বেগম ফজিলাতুন্নেছা মুজিব  হলের সব ছাত্রীদের বুধবার (১৭ জুলাই) বিকাল ৪টার পূর্বে হল ত্যাগের নির্দেশ দিয়েও সিদ্ধান্ত থেকে সরে এসেছে বিশ্ববিদ্যালয় হল প্রশাসন। শিক্ষার্থীদের দাবি, তোপের মুখে সিদ্ধান্ত বদল করতে বাধ্য হয়েছে হল প্রশাসন।
      </p>
      <div class="pubdate">
        July 14, 2024
      </p>
    </article>
    <article>
      <img src="Post 3.jpg" alt="Article Image">
      <a href="">একই বুলি, একই ডায়ালগ, একই বয়ান....</a>
      <div class="label">
        <button type="button">Government</button>
        <button type="button">Quota Movement</button>
      </div>
      <div class="pubdate">
        July 13, 2024
      </div>
    </article>
    <!-- Add more articles as needed -->
  </main>
</div>